@import url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap);
@import url(./colors.css);

:root {
    --font-family: "Inter";
    --text-xl: 32px;
    --text-lg: 24px;
    --text-md: 20px;
    --text-sm: 14px
}

* {
    color: #fff
}

h1 {
    font-size: 2rem
}

.subtitle, h2 {
    font-weight: 500
}

a, h2, p {
    color: #fff;
    font-size: var(--text-xl)
}

a, p {
    font-size: var(--text-md)
}

a:hover {
    transition: 100ms linear;
    color: var(--color-blue-400)
}

.subtitle {
    color: gray
}